[submodule "public/js/raphael"]
	path = public/js/raphael
	url = git://git.lnk.dj/raphael
[submodule "public/js/jquery"]
	path = public/js/jquery
	url = git://git.lnk.dj/jquery
[submodule "public/js/icanhaz"]
	path = public/js/icanhaz
	url = git://git.lnk.dj/icanhaz
[submodule "public/js/knockoutjs"]
	path = public/js/knockoutjs
	url = git://git.lnk.dj/knockoutjs
