*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body, input, th, td, h2, h3, h4, h5, h6, select, textarea, button,
.pure-g [class *= "pure-u"]
  font-family: "Helvetica Neue", helvetica, verdana, arial

h1
  font-size: 2.5em
  font-weight: bold

#container
  padding: 0

#body
  padding: 2em 1em 0

.pure-menu .pure-menu-heading
  font-weight: bold

li .pure-menu-heading
  font-weight: bold

a.pure-button
  text-align: left

a.sitetitle
  height: 3em
  line-height: 3em

  span
    display: block
    float: left
    vertical-align: middle
    line-height: 225%

  & *
    vertical-align: middle
