%html
  %head
    %title= 'hi'
    %link{ :rel => 'stylesheet', :href => '/css/reset.css' }
    %link{ :rel => 'stylesheet', :href => '/css/default.css' }
    %link{ :rel => 'stylesheet', :href => '/css/formalize.css' }
    %script{ :language => 'javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' }
    %script{ :language => 'javascript', :src => '/js/jquery/jquery-1.6.2.min.js' }
    %script{ :language => 'javascript', :src => '/js/jquery.formalize.min.js' }
    %script{ :language => 'javascript', :src => '/js/jquery.tmpl.min.js' }
  %body
    #container
      =yield

