%html
  %head
    %title= 'hi'
    %link{ :rel => 'stylesheet', :href => '/css/reset.css' }
    %link{ :rel => 'stylesheet', :href => '/css/default.css' }
    %script{ :language => 'javascript', :src => '/js/jquery-1.5.1.min.js' }
    %script{ :language => 'javascript', :src => '/js/tempo.min.js' }
  %body
    =yield
