%html
  %head
    %title= 'hi'
    %link{ :rel => 'stylesheet', :href => '/css/reset.css' }
    %link{ :rel => 'stylesheet', :href => '/css/default.css' }
    %link{ :rel => 'stylesheet', :href => '/css/formalize.css' }
    %script{ :language => 'javascript', :src => '/js/jquery/jquery-1.6.2.min.js' }
    %script{ :language => 'javascript', :src => '/js/jquery.formalize.min.js' }
    %script{ :language => 'javascript', :src => '/js/jquery.tmpl.min.js' }
    %script{ :language => 'javascript', :src => '/js/knockoutjs/knockout-1.2.1.js' }
    %script{ :language => 'javascript', :src => '/js/raphael/raphael-min.js' }
    %script{ :language => 'javascript', :src => '/js/raphael/g.raphael-min.js' }
    %script{ :language => 'javascript', :src => '/js/raphael/g.bar-min.js' }
    %script{ :language => 'javascript', :src => '/js/raphael/g.dot-min.js' }
    %script{ :language => 'javascript', :src => '/js/raphael/g.line-min.js' }
    %script{ :language => 'javascript', :src => '/js/raphael/g.pie-min.js' }
  %body
    =yield

  =show_settings_output?
