%html
  %head
    %title= 'hi'
    =stylesheet_link_tag 'http://yui.yahooapis.com/pure/0.5.0/pure-min.css', '/css/default.css'
    =stylesheet_link_tag 'http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css'
    =stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
    =javascript_script_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'
    =javascript_script_tag '/js/jquery.tmpl.min.js'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  %body
    #container{ :class => 'pure-g' }
      #nav{ :class => ['pure-u-1-5', 'pure-u-md-1-5'] }
        =partial :navmenu

      #body{ :class => ['pure-u-4-5', 'pure-u-md-4-5'] }
        =yield

